@model Finanzas.Models.GastoFinanzas

@{
    ViewBag.Title = "Borrar";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
        </div>
        <!-- panel-btns -->
        <h3>Esta seguro que quiere borrar este registro?</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-4">
            <fieldset>
                <legend>GastoFinanzas</legend>
                
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Cuentas.nombre)

                    <div class="label label-warning">
                        @Html.DisplayFor(model => model.Cuentas.nombre)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.ConceptoGasto.concepto)

                    <div class="label label-warning">
                        @Html.DisplayFor(model => model.ConceptoGasto.concepto)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.SubconceptoGasto.subconcepto)

                    <div class="label label-warning">
                        @Html.DisplayFor(model => model.SubconceptoGasto.subconcepto)
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.fecha)

                    <div class="label label-warning">
                        @Html.DisplayFor(model => model.fecha)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.descripcion)

                    <div class="label label-warning">
                        @Html.DisplayFor(model => model.descripcion)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.importe)

                    <div class="label label-warning">
                        @Html.DisplayFor(model => model.importe)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Usuario)

                    <div class="label label-warning">
                        @Html.DisplayFor(model => model.Usuario.nombreUsuario)
                    </div>
                </div>

            </fieldset>
            @using (Html.BeginForm())
            {
                <div class="btn-group">
                    @Html.ActionLink("Atras", "Index", null, new { Class = "btn btn-info" })
                    <input class="btn btn-danger" type="submit" value="Borrar" />
                </div>
            }
        </div>
    </div>
    <!-- panel-body -->
</div>
