@model Finanzas.Models.Persona

@{
    ViewBag.Title = "Editar";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
        </div>
        <!-- panel-btns -->
        <h3 class="panel-title">Editar</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-4">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>Persona</legend>

                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.ci)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.ci, new { Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ci)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nombre)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.nombre, new { Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.nombre)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.apellido1)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.apellido1, new { Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.apellido1)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.apellido2)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.apellido2, new { Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.apellido2)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoriaPersonaid, "Categoria")
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("CategoriaPersonaid")
                        @Html.ValidationMessageFor(model => model.CategoriaPersonaid)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.fechaNacimiento)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.fechaNacimiento, new { Class = "form-control", Id = "datepicker", Value = Model.fechaNacimiento.ToShortDateString() })
                        @Html.ValidationMessageFor(model => model.fechaNacimiento)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.sexo)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.sexo, new { Class = "form-control", Readonly = "readonly" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.fechaConversion)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.fechaConversion, new { Class = "form-control", Id = "datepicker1", Value = Model.fechaConversion == null ? "" : Model.fechaConversion.Value.ToShortDateString() })
                        @Html.ValidationMessageFor(model => model.fechaConversion)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.fechaBautismo)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.fechaBautismo, new { Class = "form-control", Id = "datepicker2", Value = Model.fechaBautismo == null ? "" : Model.fechaBautismo.Value.ToShortDateString() })
                        @Html.ValidationMessageFor(model => model.fechaBautismo)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MisionPertenece)
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("Misionesid", String.Empty)
                        @Html.ValidationMessageFor(model => model.Misionesid)
                    </div>

                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.miembro)
                        @Html.LabelFor(model => model.miembro)
                    </div>

                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.activo)
                        @Html.LabelFor(model => model.activo)
                    </div>

                    <div class="btn-group">
                        @Html.ActionLink("Atras", "Index", null, new { Class = "btn btn-info" })
                        <input class="btn btn-success" type="submit" value="Guardar" />
                    </div>
                </fieldset>
            }
        </div>
    </div>
    <!-- panel-body -->
</div>
@section Scripts {
    <script>
        jQuery(document).ready(function () {

            jQuery('#datepicker').datepicker({ changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy" });
            jQuery('#datepicker1').datepicker({ changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy" });
            jQuery('#datepicker2').datepicker({ changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy" });

            $('#ci').keyup(function () {
                var ci = $(this).attr('value');
                if (ci.length == 10) {
                    var sex = ci[9];
                    if (sex % 2 == 0) {
                        sex = "M";
                    } else {
                        sex = "F";
                    }
                }
                $('#sexo').attr({ value: sex });
            });


        });
    </script>
    <script src="~/Scripts/custom.validation.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
