@model Finanzas.Models.Rol

@{
    ViewBag.Title = "Editar";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
        </div>
        <!-- panel-btns -->
        <h3 class="panel-title">Editar</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-4">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>Rol</legend>
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.nombreRol)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.nombreRol, new { Class = "form-control" })
                        @Html.ValidationMessageFor(model => model.nombreRol)
                    </div>

                    <div class="btn-group">
                        @Html.ActionLink("Atras", "Index", null, new { Class = "btn btn-info" })
                        <input class="btn btn-success" type="submit" value="Guardar" />
                    </div>
                </fieldset>
            }
        </div>
    </div>
    <!-- panel-body -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
